<div id="id_section_{{ id_section }}_post_{{ post.id }}">
    <div class="align-items-center d-flex justify-content-between">
        <div>
            <div class="align-items-center d-flex mb-1">
                {% if post.filetype %}
                    <image
                        src="{{ asset('/assets/images/' ~ post.filetype ~ '.png') }}"
                        onerror="this.onerror = null; this.src = '{{ asset('/assets/images/other.png') }}';"
                        class="me-3 post-img"
                    >
                    <a id="id_label_post" href="{{ asset('/files/' ~ post.filename) }}" target="blank" class="m-0 post-title">
                        {{ post.label }}
                    </a>
                {% else %}
                    <image src="{{ asset('/assets/images/' ~ post.getFkPostType().label ~ '.png') }}" class="me-3 post-img">
                    <a id="id_label_post" role="button" class="m-0 post-title post-title-message">
                        {{ post.label }}
                    </a>
                {% endif %}
            </div>
            <p id="id_description_post" class="ms-1">{{ post.description }}</p>
        </div>

        {% if is_granted('ROLE_PROFESSEUR') %}
            <div class="d-flex flex-column justify-content-between ms-1">
                <button
                    onclick="wantEditPost(
                        `id_section_{{ id_section }}_post_{{ post.id }}`,
                        `{{ id_ue }}`,
                        `{{ post.id }}`,
                        `{{ post.label }}`,
                        `{{ post.description }}`,
                        `{{ id_section }}`,
                        `{{ post.ranking }}`,
                        {% if post.getFkPostType() %}
                            `{{ post.getFkPostType().id }}`
                        {% else %} `` {% endif %},
                        `{{ post.filename }}`
                    )"
                    data-bs-toggle="modal"
                    data-bs-target="#id_add_post_modal"
                    class="btn btn-success btn-sm mb-2">
                    <i class="bi bi-pencil-square"></i>
                </button>
                <button onclick="deletePost('id_section_{{ id_section }}_post_{{ post.id }}')" class="btn btn-danger btn-sm">
                    <i class="bi bi-trash"></i>
                </button>
            </div>
        {% endif %}
    </div>
    <hr>
</div>