{% extends 'base.html.twig' %}

{% block title %}Mes cours | UTBM{% endblock %}

{% block javascripts %}
    <script src="{{ asset('ajax/content_ue.js') }}" defer></script>
    <script src="{{ asset('ajax/section_form.js') }}" defer></script>
    <script src="{{ asset('javascript/content_ue.js') }}" defer></script>
    <script src="{{ asset('javascript/section_form.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div>
        {% include '/teacher/_section_form.html.twig' with {'origin': 'content_ue'} %}

        <div class="card p-3 mt-5 w-100">
            <p class="badge-category">POLE Humanités / GE : Gestion</h3>
            <h3 class="fw-bold mb-4">WE4A Technologies et programmation WEB</h3>

            <div class="align-items-center d-flex flex-wrap justify-content-between mb-4">
                <ul class="nav nav-underline">
                    <li class="nav-item-ue">
                        <a id="id_tab_cours" class="nav-link active p-3 pe-5 ps-5" onclick="changeTabs(this, 'cours')">Cours</a>
                    </li>
                    <li class="nav-item-ue">
                        <a id="id_tab_participants" class="nav-link p-3 pe-5 ps-5" onclick="changeTabs(this, 'participants')">Participants</a>
                    </li>
                </ul>

                <div class="align-items-center d-flex flex-wrap">
                    <button
                        type="button"
                        class="btn btn-primary me-2 mt-2 mt-md-0"
                        data-bs-toggle="modal"
                        data-bs-target="#id_add_section_modal">
                        Ajouter une section
                    </button>
                    <a
                        id="id_btn_add_post"
                        href="{{ path('app_post_create') }}"
                        class="btn btn-primary mt-2 mt-md-0">
                        Ajouter un post
                    </a>
                </div>
            </div>

            <div id="id_cours" class="accordion">
                {% for section in sections %}
                    {% include 'home/_section.html.twig' with {'section': section} %}
                {% endfor %}
                {% if len == 0 %}
                    <p class="mt-2 text-center no-result">
                        Aucune section ni post pour cette UE. Revenez plus tard !
                    </p>
                {% endif %}
            </div>

            <div id="id_participants" class="accordion" style="display: none;">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button
                            class="accordion-button fs-5 fw-bold"
                            data-bs-target="#collapseStudent"
                            data-bs-toggle="collapse"
                            type="button">
                            Étudiants
                        </button>
                    </h2>
                    <div id="collapseStudent" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <div>
                                <div class="align-items-center d-flex flex-wrap justify-content-between">
                                    <p class="m-0 participant-name">GG</p> <!-- TODO firstname[0] -->
                                    <p class="m-0">Giuliana GODAIL-FABRIZIO</p>
                                    <a
                                        id="id_mail"
                                        href="mailto:godailfabriziogiuliana@gmail.com" <!-- TODO changer la value
                                        target="_blank"
                                    >giuliana.godail-fabrizio.utbm.fr</a>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button
                            class="accordion-button collapsed fs-5 fw-bold"
                            data-bs-target="#collapseTeacher"
                            data-bs-toggle="collapse"
                            type="button">
                            Professeurs
                        </button>
                    </h2>
                    <div id="collapseTeacher" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}