{% extends 'base.html.twig' %}

{% block title %}Mes cours | UTBM{% endblock %}

{% block javascripts %}
    <script src="{{ asset('ajax/content_ue.js') }}" defer></script>
    <script src="{{ asset('ajax/section_form.js') }}" defer></script>
    <script src="{{ asset('javascript/content_ue.js') }}" defer></script>
    <script src="{{ asset('javascript/section_form.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div>
        <div id="id_add_section_modal" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="id_title_modal_section" class="modal-title">Ajouter une section</h5>
                        <span id="id_action_modal_section" hidden>add</span>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        {% include '/teacher/_section_form.html.twig'
                            with {
                                'origin': 'content_ue',
                                'id_ue' : ue.id,
                                'sections' : sections
                            }
                        %}
                    </div>
                </div>
            </div>
        </div>


        <div class="card p-3 mt-5 w-100">
            <p class="badge-category">{{ ue.getFkCategory().label }}</h3>
            <h3 class="fw-bold mb-4">{{ ue.label }}</h3>

            <div class="align-items-center d-flex flex-wrap justify-content-between mb-4">
                <ul class="nav nav-underline">
                    <li class="nav-item-ue">
                        <a id="id_tab_cours" class="nav-link active p-3 pe-5 ps-5" onclick="changeTabs(this, 'cours')">Cours</a>
                    </li>
                    <li class="nav-item-ue">
                        <a id="id_tab_participants" class="nav-link p-3 pe-5 ps-5" onclick="changeTabs(this, 'participants')">Participants</a>
                    </li>
                </ul>

                {% if is_granted('ROLE_PROFESSEUR') %}
                    <div class="align-items-center d-flex flex-wrap">
                        <button
                            id="id_btn_add_section"
                            type="button"
                            class="btn btn-primary me-2 mt-2 mt-md-0"
                            data-bs-toggle="modal"
                            data-bs-target="#id_add_section_modal">
                            Ajouter une section
                        </button>
                        <a
                            id="id_btn_add_post"
                            class="btn btn-primary mt-2 mt-md-0"
                            data-bs-toggle="modal"
                            data-bs-target="#id_add_post_modal">
                            Ajouter un post
                        </a>
                    </div>
                {% endif %}
            </div>

            <div id="id_cours" class="accordion">
                {% for key, section in sections %}
                    {% include 'home/_section.html.twig'
                        with {
                            'section': section,
                            'isCollapse': key == 0
                        }
                    %}
                {% endfor %}
                <p
                    id="id_ajax_no_result"
                    class="mt-2 text-center no-result"
                    style="display: {% if sections|length == 0 %} block {% else %} none {% endif %};"
                >
                    Aucune section ni post pour cette UE. Revenez plus tard !
                </p>
            </div>

            <div id="id_participants" class="accordion" style="display: none;">
                <div class="accordion-item mb-5">
                    <h2 class="accordion-header">
                        <button
                            class="accordion-button fs-5 fw-bold"
                            data-bs-target="#collapseStudent"
                            data-bs-toggle="collapse"
                            type="button">
                            Étudiants
                        </button>
                    </h2>
                    <div id="collapseStudent" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <div>
                                {% for student in students %}
                                    {% include 'home/_participants.html.twig' with { 'person' : student } %}
                                {% endfor %}
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button
                            class="accordion-button collapsed fs-5 fw-bold"
                            data-bs-target="#collapseTeacher"
                            data-bs-toggle="collapse"
                            type="button">
                            Professeurs
                        </button>
                    </h2>
                    <div id="collapseTeacher" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div>
                                {% for teacher in teachers %}
                                    {% include 'home/_participants.html.twig' with { 'person' : teacher } %}
                                {% endfor %}
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}