<nav class="navbar navbar-expand-lg p-2 bg-navbar">
    <div class="container-fluid">
        <div class="d-flex justify-content-between">
            <div>
                <a class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <img src="{{ asset('assets/images/logo-utbm.png') }}" class="img-navbar">
                </a>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="align-items-center navbar-nav mr-auto">
                        <li class="d-none d-lg-block nav-item">
                            <a class="nav-link nav-link-navbar" href="{{ path('app_index') }}">
                                <img src="{{ asset('assets/images/logo-utbm.png') }}" class="img-navbar">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-navbar" href="{{ path('app_catalogue') }}">Catalogue</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-navbar" href="{{ path('app_user_create') }}">Créer user</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-navbar" href="{{ path('app_ue_create') }}">Créer UE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-navbar" href="{{ path('app_ue_choose') }}">Choisir UE</a>
                        </li>
                        {# <li class="nav-item">
                            <a class="nav-link nav-link-navbar" href="{{ path('app_ue_content') }}">Contenu UE</a>
                        </li> #}
                        <li class="nav-item">
                            <a class="nav-link nav-link-navbar" href="{{ path('app_post_create') }}">Créer post</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="d-flex fixed-items-navbar">
                <div class="container dropdown">
                    <a
                        class="nav-link nav-link-navbar dropdown-toggle"
                        href="#"
                        role="button"
                        id="dropdownProfile"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Profil
                    </a>

                    <div class="dropdown-menu dropdown-menu-end p-3" style="width: 300px;">
                        {% include '/profile/profile.html.twig' %}
                    </div>
                </div>
                <!-- TODO ou -->
                {# <a class="ms-3 nav-link nav-link-navbar" href="{{ path('app_login') }}">Connexion</a> #}
            </div>
        </div>
    </div>
</nav>