{% extends 'base.html.twig' %}

{% block title %}Catalogue UE et utilisateurs | UTBM{% endblock %}

{% block javascripts %}
    <script src="{{ asset('ajax/catalogue.js') }}" defer></script>
    <script src="{{ asset('javascript/catalogue.js') }}" defer></script>

    <script src="{{ asset('ajax/ue_form.js') }}" defer></script>
    <script src="{{ asset('javascript/ue_form.js') }}" defer></script>

    <script src="{{ asset('ajax/user_form.js') }}" defer></script>
    <script src="{{ asset('javascript/user_form.js') }}" defer></script>
{% endblock %}

{% block body %}
    <!-- TODO changer en fonction de si c'est un ue ou un user -->
    <div class="d-flex flex-column flex-sm-row justify-content-center pb-3 w-100">
        <div class="mb-3 me-sm-5 d-flex">
            <input placeholder="Saisir un nom" class="border-end-0 form-control rounded-0 rounded-start">
            <button class="btn btn-primary rounded-0 rounded-end btn-search">
                <i class="bi bi-search"></i>
            </button>
        </div>
        <button
            id="id_btn_add"
            onclick="wantAdd()"
            data-bs-toggle="modal"
            data-bs-target="#id_add_modal"
            class="btn btn-primary mb-3">
            Ajouter
        </button>
    </div>

    <div id="id_add_modal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-navbar">
                    <h1 id="id_title_modal" class="modal-title fs-5 text-white">Ajouter une UE</h1>
                    <span id="id_action_modal" hidden>add</span>
                    <button
                        aria-label="Close"
                        data-bs-dismiss="modal"
                        type="button"
                        class="btn-close"></button>
                </div>
                <div class="modal-body">
                    <!-- TODO à inverser le display none -->
                    <div id="id_modal_body_ue">
                        {% include '/admin/_ue_form.html.twig' %}
                    </div>
                    <div id="id_modal_body_user" style="display: none">
                        {% include '/admin/_user_form.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card p-3 w-100">
        <div class="mb-4">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a id="id_ue_tabs" class="nav-link active" aria-current="page" onclick="changeTabs('ue')">UE</a>
                </li>
                <li class="nav-item">
                    <a id="id_user_tabs" class="nav-link" onclick="changeTabs('user')">Utilisateurs</a>
                </li>
            </ul>
        </div>

        <div id="id_ues">
            {% for ue in ues %}
                {% include '/admin/_ue.html.twig' with { 'ue': ue } %}
            {% endfor %}
            {% if ues|length == 0 %}
            <p class="text-center no-result">
                Aucune UE enregistrée, merci de revenir plus tard ou de cliquer sur le bouton "Ajouter".
            </p>
            {% endif %}
        </div>

        <div id="id_users" style="display: none">
            {% for user in users %}
                {% include '/admin/_user.html.twig' with { 'user': user } %}
            {% endfor %}
            {% if ues|length == 0 %}
                <p class="text-center no-result">
                    Aucun utilisateur enregistré, merci de revenir plus tard ou de cliquer sur le bouton "Ajouter".
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}